.todo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 20px;

  background-color: white;
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.25);

  padding-top: 12px;
  min-width: 564px;
}

.todo > div {
  width: 100%;
}

.todo img,
.todo button {
  border-radius: 4px;
  border: none;

  cursor: pointer;
}

.todo__text--header {
  width: 100%;
  text-align: center;
}

.todo__container-input {
  display: flex;
  gap: 16px;

  padding: 0 16px;
}

.todo__input {
  flex: 1;

  border: #b8b8b8 solid 1px;
  outline: none;

  padding: 8px;
}

.todo__button-add {
  background-color: #81eaab;

  color: white;

  padding: 8px;
}

.todo__shoes {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 16px;

  border-top: 1px solid #b8b8b8;
}

.todo__shoes-left,
.todo__shoes-categories {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.todo__text--shoes {
  cursor: pointer;
}
